body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

h1 {
    margin-top: 20px;
    color: #333;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.grid-item {
    width: 30%;
    margin-bottom: 20px;
}

.grid-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.grid-item p {
    margin-top: 10px;
    color: #666;
}

.name{
    color: #555555;
}
